.view-editor-list-header {
  flex-direction: row;
  background-color: #ddd;
}

/* .view-editor-list-header > div {
  cursor: pointer;
  user-select: none;
} */


.view-editor-list-header,
.view-editor-list-body {
  position: relative;
}

.view-editor-list-body>div {
  /* cursor: pointer; */
  height: fit-content;
}

.view-editor-list-body>div:nth-child(even) {
  background-color: #ddd;
}

.view-editor-list-body>div:hover {
  background-color: #eee;
}

.view-editor-list-body {
  flex-direction: column;
}

.view-editor-list-body>div {
  display: flex;
  align-items: center;
  width: 100%;
}

.view-editor-list-body>div>div {
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.editor-list-title {
  flex-grow: 3;
}

.view-editor-list-body>div>div:last-child {
  display: flex;
  flex-direction: column;
}

.view-editor-list-body>div>div:last-child>span:first-child {
  font-weight: bolder;
}

.published {
  color: green;
}

.not-published-yet {
  color: red;
}