* {
  white-space: normal;
}

[data-slate-editor]>*+* {
  margin-top: 1em;
}

[data-slate-editor]>*:has(code)+*:has(code) {
  margin-top: 0;
}

[data-slate-editor] :not(pre)>code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}


[data-slate-editor] .active {
  color: black;
}

[data-slate-editor] p {
  margin: 0;
}

[data-slate-editor] blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}


[data-slate-editor] ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

[data-slate-editor] ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

[data-slate-editor] li {
  display: list-item;
  text-align: -webkit-match-parent;
}

[data-slate-editor] table,
[data-slate-editor] th,
[data-slate-editor] td {
  border: 1px solid black;
  /* display: table; */
  text-align: -webkit-match-parent;
}

[data-slate-editor] table {
  border-collapse: collapse;
}

[data-slate-editor] table[data-alignment='left'] {
  margin-right: auto;
}

[data-slate-editor] table[data-alignment='center'] {
  margin: 0 auto;
}

[data-slate-editor] table[data-alignment='right'] {
  margin-left: auto
}

[data-slate-editor] button {
  border: unset;
  outline: unset;
  padding: 0;
  margin: 0 0.5rem;
  font-weight: bold;
  color: rgb(204, 204, 204);
  background: transparent;
  cursor: pointer;
}

[data-slate-editor] button {
  background-color: white;
  border: none;
  opacity: 0.5;
}

.btnActive {
  opacity: 1;
}

.editor-wrapper {
  font-family: 'Helvetica', 'Arial', sans-serif;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -8px 8px 13px #ededed,
    8px -8px 13px #ffffff;
  min-height: 400px;
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  padding: 12px 10px;
}

[data-slate-editor] table {
  width: fit-content;
}

[data-slate-editor] td {
  min-width: 50px;
  height: 50px;
  width: fit-content;
  padding: 0 5px;
}

.popup-wrapper {
  display: inline;
  position: relative;
}

.popup {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 6px 10px;
  border: 1px solid lightgray;
  height: fit-content;
  z-index: 1;

}

.popup>input {
  width: auto;
}

[data-slate-editor] button {
  cursor: pointer;
}

[data-slate-editor] code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* [data-slate-node="element"] {
    margin: 10px 0;
} */

[data-slate-editor] html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}