.CardHeader-tabs {
    width: unset !important;
    background: unset !important;
    box-shadow: unset !important;
    margin-top: -50px !important;
    margin-left: unset !important;
}

.CardHeader-tabs>div {
    overflow: visible !important;
}

.CardHeader-tabs button>span:first-child {
    font-size: 1.3em;
}